In [1]:
import numpy as np

In [2]:
x = [i for i in range(100)]
print(x,end="")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [3]:
c = np.array(x)
c

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [4]:
c.dtype

dtype('int64')

In [5]:
c = np.array(x,dtype='int8')

In [6]:
c * 10

array([   0,   10,   20,   30,   40,   50,   60,   70,   80,   90,  100,
        110,  120, -126, -116, -106,  -96,  -86,  -76,  -66,  -56,  -46,
        -36,  -26,  -16,   -6,    4,   14,   24,   34,   44,   54,   64,
         74,   84,   94,  104,  114,  124, -122, -112, -102,  -92,  -82,
        -72,  -62,  -52,  -42,  -32,  -22,  -12,   -2,    8,   18,   28,
         38,   48,   58,   68,   78,   88,   98,  108,  118, -128, -118,
       -108,  -98,  -88,  -78,  -68,  -58,  -48,  -38,  -28,  -18,   -8,
          2,   12,   22,   32,   42,   52,   62,   72,   82,   92,  102,
        112,  122, -124, -114, -104,  -94,  -84,  -74,  -64,  -54,  -44,
        -34], dtype=int8)

In [7]:
2**64

18446744073709551616

In [8]:
# int64  these are the total numbers in it 
(2**64) - 2*9223372036854775807

2

In [9]:
c.itemsize

1

In [26]:
c.dtype

dtype('int8')

In [11]:
np.savetxt('my_array.csv', c, delimiter=',')

In [23]:
c.nbytes

100

In [22]:
!ls -lah my_array.csv

-rw-r--r--  1 tonderaimadamba  staff   2.4K Sep 23 08:53 my_array.csv